@using Deneme.Models.Entity
@model List<MUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<h1 align="center">MÜŞTERİLER</h1>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<br /><br />

<table class="table table-bordered">
    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ ADI</th>
        <th>MÜŞTERİ SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var must in Model)
        {
            <tr>
                <th>@must.MUSTERIID</th>
                <td>@must.MUSTERIAD</td>
                <td>@must.MUSTERISOYAD</td>
                <td><a href="/Musteri/SIL/@must.MUSTERIID" onclick="return confirm ('Emin misin?')"><i class="fa fa-trash-o" style="font-size:30px;color:red;"></i></a></td>
                <td><a href="/Musteri/MusteriGuncelle/@must.MUSTERIID"><i class="fa fa-edit" style="font-size:30px"></i></a></td>

            </tr>
        }
    </tbody>
</table>
<a href="/Musteri/MusteriEkle" class="btn btn-primary">YENİ MÜŞTERİ EKLE</a>

