
@{
    ViewBag.Title = "Yardim";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<details>
    <summary>X bir ürün stoklarınıza ne zaman gelecek? </summary>

    <p>Bir ürün stoklarda kalmadıysa 1 hafta içerisinde tedarik edilecektir.</p>
    
</details>

